*{
    padding: 0;
    margin: 0;
  
}
.containar{
    width: 1080px;
    margin: auto;

}
.navbar{
    background-color: fuchsia;
}
.navbar ul{
    list-style: none;
    text-align: center;
}
.navbar ul li{
    display: inline-block;
    position: relative;
}
.navbar ul li a{ 
    text-decoration: none;
    display: block;
    padding: 10px 50px;
    text-transform: uppercase;
    font-weight: 700;
}
.navbar ul li a:hover{
    background-color: gold;
    color: green;

}
.navbar ul ul{
    position: absolute;
    background-color: mediumslateblue;
    left: 9999px;
    top: 39px;
}
.navbar ul ul li{
    width: 220px;
}
.navbar ul ul li a{}
.navbar ul li:hover ul {
    left: 0;
}
.midle{
    width: 1080px;
    display: block;
    overflow: hidden;
}
.grid{
    overflow: hidden;
    float: left;
}